.MainPage {
  display: flex;
  height: 80vh;
  padding: 2em;
  width: 100%;
  max-width: 2000px;
  margin: auto;
  box-sizing: border-box;
  .left-option {
    display: flex;
    flex-direction: column;
    width: 60%;
    .bottom-option {
      margin-top: 2em;
      display: flex;
      .theater-box {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        background: grey;
        color: #ffffff;
        width: 50%;
        &:first-child {
          margin-right: 2em;
        } 
      }
    }
  }

  .right-option {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    width: 40%;
    .genre-box {
      color: #ffffff;
      display: flex;
      text-decoration: none;
      align-items: center;
      justify-content: center;
      background: grey;
      height: 33%;
      margin-bottom: 2em;
      &:last-child {
        margin: 0px;
      }
    }
  }

}