.MainPage {
  display: flex;
  height: 92vh;
  padding: 2em;
  width: 100%;
  max-width: 2000px;
  margin: auto;
  box-sizing: border-box;

  .left-option {
    display: flex;
    flex-direction: column;
    width: 60%;

    .bottom-option {
      margin-top: 2em;
      display: flex;
      height: 25%;

      .theater-box {
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        background: #231f20;
        width: 50%;


        font-size: 1.2em;
        font-weight: 100;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-shadow: 2px 2px 5px black;
        font-family: $font-Abel;
        color: white;

        background-size: contain;
        background-position: top center;
        transition: all .5s ease;
        box-shadow: 0px 2px 10px 3px #00000017;
        cursor: pointer;

        border-radius: 5px;


        &:first-child {
          margin-right: 2em;
        }
      }
    }
  }

  .right-option {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    width: 40%;

  }
}
