
@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Rajdhani:300,500|Abel');
// @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|PT+Sans+Narrow:400,700');
// @import url('https://fonts.googleapis.com/css?family=Abel|Barlow+Condensed|Open+Sans+Condensed:300,700|PT+Sans+Narrow:400,700');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Open+Sans+Condensed:300,700|PT+Sans+Narrow:400,700');
// font-family: 'Open Sans Condensed', sans-serif;
// font-family: 'PT Sans Narrow', sans-serif;
// font-family: 'Abel', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
// font-family: 'Lato', sans-serif;
// font-family: 'Rajdhani', sans-serif;

$font-title: 'Rajdhani', sans-serif;
$font-copy: 'Lato', sans-serif;
$font-Abel: 'Abel', sans-serif;

@import "./containers/App/App";
@import './containers/Header/Header';
@import './containers/MainPage/MainPage';
@import './containers/SlideShow/SlideShow';
@import './containers/MovieInfo/MovieInfo';
@import './containers/SignIn/SignIn';
@import './components/Footer/Footer';
@import './containers/GenreBox/GenreBox';
@import './containers/Movies/Movies';


body {
  font-family: $font-copy;
  background: #231f20;
  background-image: url('./images/concrete_wall.png')
}
